{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block scripts %}

<script src="{% static 'sales/home1.js' %}" defer></script>

{% endblock scripts %}

{% block content %}

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportModalLabel">Add Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id='modal-body'>
            <dir id='alert-box'></dir>
          <form id='report-form'>
            {% csrf_token %}
            {{ report_form|crispy }}
            <button type="submit" class="btn btn-primary">Create Report</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% if no_data %}
    <div class="alert alert-warning" role="alert">
        {{ no_data }}
    </div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit", class="btn btn-primary">Search</button>
</form>
<br>
{% if sales_df %}
    {{ sales_df|safe }}
    <br>
    {{ positions_df|safe }}
    <br>
    {{ merged_df|safe }}
    <br>
    {{ df|safe }}
    <br>
    {{ df_category|safe }}
    <br>
    <img src="data:image/png;base64, {{ chart|safe }}" id="img">
{% endif %}
<br>

<button class='btn btn-primary not-visible' id="report-btn" data-toggle="modal" data-target="#reportModal">add report</button>

{% endblock content %}

